.Button {
  background: none;
  border: none;
  outline: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 24px;
  cursor: pointer;
  transition: 150ms;
  margin-bottom: 16px;
}

.Label {
  margin-left: 8px;
}

.Button:hover {
  background-color: #e2e2e2;
  transition: 150ms;
}
