.Container {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  /* align-items: baseline; */
}

.Children {
  padding-left: 16px;
  border-left: 2px solid #e2e2e2;
  margin-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-left-radius: 24px;
  transition: 150ms;
}

.Children:hover {
  border-color: #b631f3;
  transition: 150ms;
}

.Line {
  display: flex;
}

.Actions {
  margin-left: 8px;
  display: none;
}

.Line:hover .Actions {
  display: flex;
}
